@{
    ViewBag.Title = "Changelog";
}
<h1>Changelog:</h1>

<p>Co udało się zrobić:</p>
<ul>
    <li>
        Logowanie
    </li>
    <li>
        Rejestrowanie
    </li>
    <li>
        Panel zarządzania
    </li>
    <li>
        Dodawanie ogłoszeń
    </li>
    <li>
        Usuwanie/Edytowanie ogłoszeń
    </li>
</ul>


<p>Czego nie udało się zrobić:</p>
<ul>
    <li>
        Nowy layout
    </li>
    <li>
        Logowanie za pomocą Facebook'a, Google, Twittera itd
    </li>
    <li>
        Zaawansowanej obsługi ogłszeniami
    </li>
</ul>

<p>Plany na przyszłość:</p>
<ul>
    <li>
        Nowy layout
    </li>
    <li>
        Przetłumaczenie wszystkich komunikatów
    </li>
    <li>
        Hosting na Azure
    </li>
    <li>
        Poprawa błędów
    </li>
</ul>
