@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SuperApp</h1>
    <p class="lead">Jest to nasza aplikacja napisana w ASP.Net na przedmiot ZTI.</p>
    <p><a href="http://zarz.agh.edu.pl" class="btn btn-primary btn-lg">Zobacz naszą stronę &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Na dobry początek</h2>
        <p>
            Jak zacząć? To proste! Zarejestruj się i zacznij postowanie nowych ogłoszeń.
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Zarejestruj &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Źródło wiedzy</h2>
        <p>Całą wiedzę na temat ASP.Net czerpaliśmy z tego źródła. Polecamy je każdemu. Sprawdź je i został łapkę w górę.</p>
        <p><a class="btn btn-default" href="http://slides.com/jerzyduda/">Sprawdź to. &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Changelog</h2>
        <p>Postęp naszych prac. Co działa a co będzie. Jakie są nasze plany</p>
        <p><a class="btn btn-default" href="/Home/About">Zobacz &raquo;</a></p>
    </div>
</div>